<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ title }}</title>
  <link href="{{ rootPath }}assets/css/styles.css" rel="stylesheet">
  <link href="{{ rootPath }}assets/css/prism.css" rel="stylesheet">
</head>
<body>

<div class="ui-sidebar">
  <h1><a href="{{ rootPath }}">{{ project }}</a></h1>
  {% include "../partials/collections-list.html" %}
  <div class="ui-sidebar-footer">
    <p>Made with <i class="icon-heart"></i> by <a href="http://www.greatwhiteark.com">GWA</a></p>
  </div>
</div>

<div class="ui-body">
{% block body %}

{% endblock %}
</div>

<script src="{{ rootPath }}assets/js/prism.js"></script>

</body>
</html>
